#photos{
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
#preview{
    width: 172px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
}
#preview a{
    position: absolute;
    bottom: 4px;
    left: 5px;
    right: 4px;
    display: none;
}

#file-info{
    display: block;
}

input[type=file]{
position: absolute;
visibility: hidden;
width: 0;
z-index: -9999;
}
#file-save{
    width: 171px;
}